* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Estilos home*/

.imgfondo {
    position: absolute;
    margin: 0;
    width: 100%;
}

.logotop {
    position: absolute;
    padding: 50px;
    cursor: pointer;
}

.titulohome {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 40%;
    text-align:left;
    padding: 20px 1150px 00px 350px;
}

.parrafohome {
    display: block;
    position: absolute;
    color: white;
    font-size: 20px;
    top: 60%;
    text-align:left;
    padding: 10px 1160px 20px 350px;
}

.imghisto {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 1080px;
}

.titulong{
    position: absolute;
    color: white;
    font-size: 90px;
    margin: 0;
    top:1080px;
    text-align: left;
    padding: 160px 1400px 160px 100px;
}

.phisto {
    position: absolute;
    color: 4D4D4D;
    font-size: 20px;
    margin: 0;
    top:1080px;
    text-align: left;
    padding: 125px 100px 125px 1100px;
}

.mas h2{
    position: absolute;
    padding: 10px 50px;
    background-color: #AFC80A;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    top: 1530px;
    left: 1615px;
    text-align: center;
}

.mas h2:hover{
    background-color: #2C5A2F;
}

.imgbanner {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 1620px;
}

.thome h3{
    position: absolute;
    color: #333333;
    width: 100%;
    padding: 2% 0%;
    margin: 0;
    font-size: 40px;
    top: 1965px;
    text-align: center;
    justify-content: center;
}

.imgdhome {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 2450px;
    left: 500px;
}

.titulod{
    position: absolute;
    background-color: #2C5A2F;
    color: white;
    font-size: 90px;
    margin: 70px 900px 50px 0px;
    top:2450px;
    text-align: left;
    padding: 80px 100px 400px 100px;
}

.pdistri {
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 0px 1150px 0px 100px;
    top:2800px;
    text-align: left;
    padding: 50px 0px 50px 0px;
}

.masd h2{
    position: absolute;
    padding: 10px 50px;
    background-color: #AFC80A;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    margin: 0px 1100px 0px 0px;
    top: 3050px;
    left: 100px;
    text-align: center;
}

.masd h2:hover{
    background-color: white;
    color: #2C5A2F;
}

.imgres {
    position:absolute;
    background-color: #e0e0e0; 
    padding: 0px 0px 400px 0px;
    margin: 0;
    top: 3050px;
}

.imgres2 img{
    position: absolute;
    padding: 0;
    margin: 200px 150px 100px 350px;
    top: 3135px;
    border-radius: 250px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.7);
}

.titulores{
    position: absolute;
    color: #333333;
    font-size: 80px;
    margin: 200px 100px 10px 900px;
    top:3300px;
    text-align: left;
    padding: 0px 100px 20px 100px;
}

.prespon {
    position: absolute;
    background-color: ;
    color: #4D4D4D;
    font-size: 20px;
    margin: 0px 150px 0px 1000px;
    top:3680px;
    text-align: left;
    padding: 50px 0px 50px 0px;
}

.titulosos{
    position: absolute;
    color: #333333;
    font-size: 80px;
    margin: 200px 100px 10px 250px;
    top:3900px;
    text-align: right;
    padding: 0px 100px 20px 100px;
}

.psosten {
    position: absolute;
    background-color: ;
    color: #4D4D4D;
    font-size: 20px;
    margin: 0px 985px 0px 150px;
    top:4180px;
    text-align: right;
    padding: 50px 0px 50px 100px;
}

.imgres3 img{
    position: absolute;
    padding: 0;
    margin: 200px 150px 100px 1100px;
    top: 3780px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.7);
}

.menures{
    display: block;
    position: absolute;
    padding: 0px 10px 0px 1100px;
    top: 4130px;
}

.menures ul{
    background-color: white;
    margin: 0px 363px 0px 0px;
    padding: 0px 0px 00px 0px;
    list-style: none;
    text-decoration: none;
}

.menures ul li{
    padding: 20px 50px 20px 50px;
    
    }

.menures ul li:hover{
    background-color: #AFC80A;
    }

.menures a{
    color: #4D4D4D;
    font-size: 20px;
}

.menures a:hover{
    color: white;
}

.videohome {
    position: absolute;
    top: 4590px;
}

.titulocon{
    position: absolute;
    color: #333333;
    font-size: 70px;
    margin: 200px 100px 10px 300px;
    top:4800px;
    text-align: right;
    padding: 0px 100px 20px 0px;
}

.subtitulocon{
    position: absolute;
    color: #333333;
    font-size: 29px;
    margin: 200px 100px 10px 300px;
    top:4880px;
    text-align: right;
    padding: 0px 100px 20px 0px;
}

.maphome{
    position: absolute;
    top: 5140px;
    padding: 0px 300px 0px 300px;
}

.tituloadmin{
    position: absolute;
    color: #333333;
    font-size: 25px;
    margin: 0px 100px 0px 300px;
    top:5480px;
    text-align: right;
    padding: 0px 100px 0px 0px;
}

.pplaza7{
    position: absolute;
    color: #4D4D4D;
    font-size: 20px;
    margin: 0px 0px 0px 300px;
    top:5520px;
    text-align: left;
    padding: 0px 200px 0px 0px;
}

.phora{
    position: absolute;
    color: #4D4D4D;
    font-size: 20px;
    margin: 0px 0px 0px 300px;
    top:5580px;
    text-align: left;
    padding: 0px 200px 0px 0px;
}

.phora strong{
    color: #333333;
}

.titulosocial{
    position: absolute;
    color: #333333;
    font-size: 60px;
    margin: 0px 100px 10px 300px;
    top:5710px;
    text-align: right;
    padding: 0px 100px 20px 0px;
}

.subtitulosocial{
    position: absolute;
    color: #333333;
    font-size: 29px;
    margin: 0px 100px 10px 300px;
    top:5780px;
    text-align: right;
    padding: 0px 100px 20px 0px;
}

.social{
    position: absolute;
    top: 5820px;
    margin: 0px 0px 0px 300px;
}

.social img{
    padding: 0px 30px 0px 0px;
}

/*Estilos para pagina verduras*/

.imgfondo{
    position: absolute;
    margin: 0;
}

.tituloverduras {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    text-align:left;
    padding: 0px 460px;
    text-align: center;
}

.parrafover {
    display: block;
    background-color: rgba(44, 90, 47, 0.50);
    border-radius: 10px;
    position: absolute;
    color: white;
    font-size: 25px;
    top: 40%;
    text-align: center;
    margin: 0px 350px;
    padding: 10px 0px 10px 0px;
}

.menuproductos{
    position: absolute;
    width: 100%;
    padding: 0px 475px;
    top: 530px;
    justify-content: center;
}

.menuproductos ul{
    border-radius: 30px;
    display: inline-block;
    background-color: #AFC80A;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    text-decoration: none;
}

.menuproductos ul:hover{
    border-radius: 30px;
}


.menuproductos ul li{
    display: inline-block;
    padding: 20px 50px 20px 50px;
    }

.menuproductos ul li:hover{
    border-radius: 30px;
    background-color: #2C5A2F;
    }

.menuproductos a{
    color: white;
    font-size: 20px;
}

.imgpverduras {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 670px;
    left: 500px;
}

.titulopverduras{
    position: absolute;
    background-color: #2C5A2F;
    color: white;
    font-size: 90px;
    margin: 50px 900px 50px 0px;
    top:670px;
    text-align: left;
    padding: 80px 100px 285px 100px;
}

.ppverduras {
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 0px 1100px 0px 100px;
    top:1000px;
    text-align: left;
    padding: 50px 0px 50px 0px;
}

.maspverduras h2{
    position: absolute;
    padding: 10px 50px;
    background-color: #AFC80A;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    margin: 0px 1100px 0px 0px;
    top: 1200px;
    left: 100px;
    text-align: center;
}

.maspverduras h2:hover{
    background-color: white;
    color: #2C5A2F;
}

.proverduras{
    position: absolute;
    color: #333333;
    font-size: 50px;
    top: 1500px;
    text-align:left;
    padding: 0px 800px;
    text-align: center;
}

/*Estilos para pagina lacteos*/

.imgfondo{
    position: absolute;
    margin: 0;
}

.tituloverduras {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    text-align:left;
    padding: 0px 460px;
    text-align: center;
}

.parrafover {
    display: block;
    background-color: rgba(44, 90, 47, 0.50);
    border-radius: 10px;
    position: absolute;
    color: white;
    font-size: 25px;
    top: 40%;
    text-align: center;
    margin: 0px 350px;
    padding: 10px 0px 10px 0px;
}

.menuproductos{
    position: absolute;
    width: 100%;
    padding: 0px 475px;
    top: 530px;
    justify-content: center;
}

.menuproductos ul{
    border-radius: 30px;
    display: inline-block;
    background-color: #AFC80A;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    text-decoration: none;
}

.menuproductos ul:hover{
    border-radius: 30px;
}


.menuproductos ul li{
    display: inline-block;
    padding: 20px 50px 20px 50px;
    }

.menuproductos ul li:hover{
    border-radius: 30px;
    background-color: #2C5A2F;
    }

.menuproductos a{
    color: white;
    font-size: 20px;
}

.imgplacteos {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 670px;
    left: 500px;
}

.tituloplacteos{
    position: absolute;
    background-color: #2C5A2F;
    color: white;
    font-size: 90px;
    margin: 50px 900px 50px 0px;
    top:670px;
    text-align: left;
    padding: 80px 100px 290px 100px;
}

.pplacteos {
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 0px 1100px 0px 100px;
    top:1000px;
    text-align: left;
    padding: 40px 0px 50px 0px;
}

.masplacteos h2{
    position: absolute;
    padding: 10px 20px;
    width: 10%;
    background-color: #AFC80A;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    margin: 0px 1100px 0px 0px;
    top: 1220px;
    left: 100px;
    text-align: center;
}

.masplacteos h2:hover{
    background-color: white;
    color: #2C5A2F;
}

.prolacteos{
    position: absolute;
    color: #333333;
    font-size: 50px;
    top: 1500px;
    text-align:left;
    padding: 0px 800px;
    text-align: center;
}

/*Estilos para pagina congelados*/

.imgfondo{
    position: absolute;
    margin: 0;
}

.tituloverduras {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    text-align:left;
    padding: 0px 460px;
    text-align: center;
}

.parrafover {
    display: block;
    background-color: rgba(44, 90, 47, 0.50);
    border-radius: 10px;
    position: absolute;
    color: white;
    font-size: 25px;
    top: 40%;
    text-align: center;
    margin: 0px 350px;
    padding: 10px 0px 10px 0px;
}

.menuproductos{
    position: absolute;
    width: 100%;
    padding: 0px 475px;
    top: 530px;
    justify-content: center;
}

.menuproductos ul{
    border-radius: 30px;
    display: inline-block;
    background-color: #AFC80A;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    text-decoration: none;
}

.menuproductos ul:hover{
    border-radius: 30px;
}


.menuproductos ul li{
    display: inline-block;
    padding: 20px 50px 20px 50px;
    }

.menuproductos ul li:hover{
    border-radius: 30px;
    background-color: #2C5A2F;
    }

.menuproductos a{
    color: white;
    font-size: 20px;
}

.imgpcongelados {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 670px;
    left: 500px;
}

.titulocongelados{
    position: absolute;
    background-color: #2C5A2F;
    color: white;
    font-size: 90px;
    margin: 50px 900px 50px 0px;
    top:670px;
    text-align: left;
    padding: 80px 100px 285px 100px;
}

.ppcongelados {
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 0px 1100px 0px 100px;
    top:1000px;
    text-align: left;
    padding: 40px 0px 50px 0px;
}

.maspcongelados h2{
    position: absolute;
    padding: 10px 20px;
    width: 10%;
    background-color: #AFC80A;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    margin: 0px 1100px 0px 0px;
    top: 1210px;
    left: 100px;
    text-align: center;
}

.maspcongelados h2:hover{
    background-color: white;
    color: #2C5A2F;
}

.procongelados{
    position: absolute;
    color: #333333;
    font-size: 50px;
    top: 1500px;
    text-align:left;
    padding: 0px 800px;
    text-align: center;
}

/*Estilos para pagina frutas*/

.imgfondo{
    position: absolute;
    margin: 0;
}

.tituloverduras {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    text-align:left;
    padding: 0px 460px;
    text-align: center;
}

.parrafover {
    display: block;
    background-color: rgba(44, 90, 47, 0.50);
    border-radius: 10px;
    position: absolute;
    color: white;
    font-size: 25px;
    top: 40%;
    text-align: center;
    margin: 0px 350px;
    padding: 10px 0px 10px 0px;
}

.menuproductos{
    position: absolute;
    width: 100%;
    padding: 0px 475px;
    top: 530px;
    justify-content: center;
}

.menuproductos ul{
    border-radius: 30px;
    display: inline-block;
    background-color: #AFC80A;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    text-decoration: none;
}

.menuproductos ul:hover{
    border-radius: 30px;
}


.menuproductos ul li{
    display: inline-block;
    padding: 20px 50px 20px 50px;
    }

.menuproductos ul li:hover{
    border-radius: 30px;
    background-color: #2C5A2F;
    }

.menuproductos a{
    color: white;
    font-size: 20px;
}

.imgpfrutas {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 670px;
    left: 500px;
}

.titulopfrutas{
    position: absolute;
    background-color: #2C5A2F;
    color: white;
    font-size: 90px;
    margin: 50px 900px 50px 0px;
    top:670px;
    text-align: left;
    padding: 100px 100px 380px 100px;
}

.ppfrutas {
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 0px 1100px 0px 100px;
    top:940px;
    text-align: left;
    padding: 40px 0px 50px 0px;
}

.maspfrutas h2{
    position: absolute;
    padding: 10px 20px;
    width: 10%;
    background-color: #AFC80A;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    margin: 0px 1100px 0px 0px;
    top: 1120px;
    left: 100px;
    text-align: center;
}

.maspfrutas h2:hover{
    background-color: white;
    color: #2C5A2F;
}

.proverduras{
    position: absolute;
    color: #333333;
    font-size: 50px;
    top: 1500px;
    text-align:left;
    padding: 0px 800px;
    text-align: center;
}

/*Estilos para carrusel*/

body{
    height: 100vh;
    width: 100%;
    align-items: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
}

h4, h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Carousel{
    position: relative;
    top: 1600px;
    width: 100%;
    margin: 0;
}
.Carousel h2{
    padding: 30px;
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 350px;
    padding: 0px 0px;
    margin: 10px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 230px;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 25px;
    color: #fff;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 14px 0px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .75;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 15px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

.caja-texto-productos{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: ;
}


.caja-texto-productos h3{
    font-size: 2.5em;
    
}

.caja-texto-productos p{
    font-size: 1.5em;
    
}

/*Estilos para pagina hierbas*/

.imgfondo{
    position: absolute;
    margin: 0;
}

.tituloverduras {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    text-align:left;
    padding: 0px 460px;
    text-align: center;
}

.parrafover {
    display: block;
    background-color: rgba(44, 90, 47, 0.50);
    border-radius: 10px;
    position: absolute;
    color: white;
    font-size: 25px;
    top: 40%;
    text-align: center;
    margin: 0px 350px;
    padding: 10px 0px 10px 0px;
}

.menuproductos{
    position: absolute;
    width: 100%;
    padding: 0px 475px;
    top: 530px;
    justify-content: center;
}

.menuproductos ul{
    border-radius: 30px;
    display: inline-block;
    background-color: #AFC80A;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    text-decoration: none;
}

.menuproductos ul:hover{
    border-radius: 30px;
}


.menuproductos ul li{
    display: inline-block;
    padding: 20px 50px 20px 50px;
    }

.menuproductos ul li:hover{
    border-radius: 30px;
    background-color: #2C5A2F;
    }

.menuproductos a{
    color: white;
    font-size: 20px;
}

.imgphierbas {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 670px;
    left: 500px;
}

.titulophierbas{
    position: absolute;
    background-color: #2C5A2F;
    color: white;
    font-size: 90px;
    margin: 50px 900px 50px 0px;
    top:670px;
    text-align: left;
    padding: 100px 100px 270px 100px;
}

.pphierbas {
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 0px 1100px 0px 100px;
    top:1030px;
    text-align: left;
    padding: 40px 0px 50px 0px;
}

.masphierbas h2{
    position: absolute;
    padding: 10px 50px;
    background-color: #AFC80A;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    margin: 0px 1100px 0px 0px;
    top: 1210px;
    left: 100px;
    text-align: center;
}

.masphierbas h2:hover{
    background-color: white;
    color: #2C5A2F;
}

.proverduras{
    position: absolute;
    color: #333333;
    font-size: 50px;
    top: 1500px;
    text-align:left;
    padding: 0px 800px;
    text-align: center;
}

/*Estilos para carrusel*/

body{
    height: 100vh;
    width: 100%;
    align-items: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
}

h4, h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Carousel{
    position: relative;
    top: 1600px;
    width: 100%;
    margin: 0;
}
.Carousel h2{
    padding: 30px;
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 350px;
    padding: 0px 0px;
    margin: 10px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 230px;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 25px;
    color: #fff;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 14px 0px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .75;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 15px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

.caja-texto-productos{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: ;
}


.caja-texto-productos h3{
    font-size: 2.5em;
    
}

.caja-texto-productos p{
    font-size: 1.5em;
    
}

/*Estilos para pagina cultura y eventos*/

.titulocultura {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    text-align:left;
    padding: 0px 640px;
    text-align: center;
}

.parrafocultura {
    display: block;
    position: absolute;
    color: white;
    font-size: 40px;
    top: 38%;
    text-align: center;
    padding: 0px 685px;
}

.pcultura {
    display: block;
    position: absolute;
    color: white;
    font-size: 25px;
    top: 430px;
    text-align:left;
    padding: 0px 550px;
    justify-content: center;
    text-align: center;
}

.videocultura{
    position: absolute;
    width: 100%;
    top: 550px;
}

/*Estilos para carrusel*/

body{
    height: 100vh;
    width: 100%;
    align-items: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
}

h4, h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Carousel2{
    position: absolute;
    top: 950px;
    width: 100%;
    margin: 0;
}
.Carousel h2{
    padding: 30px;
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 350px;
    padding: 0px 0px;
    margin: 10px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 230px;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 25px;
    color: #fff;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 14px 0px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .75;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 15px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

.caja-texto-productos{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: ;
}


.caja-texto-productos h3{
    font-size: 2.5em;
    
}

.caja-texto-productos p{
    font-size: 1.5em;
    
}


.tcultura h3{
    position: absolute;
    color: #333333;
    width: 100%;
    padding: 2% 0%;
    margin: 0;
    font-size: 40px;
    top: 850px;
    text-align: center;
    justify-content: center;
}

.pculturayeventos{
    position: absolute;
    color: #2C5A2F;
    font-size: 20px;
    margin: 0px 560px;
    top:1330px;
    text-align: left;
    padding: 0px;
    text-align: center;
}


/*Estilos para pagina contacto*/

.titulocontactenos {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    text-align:left;
    padding: 0px 720px;
    text-align: center;
}

.parrafocon {
    display: block;
    position: absolute;
    color: white;
    font-size: 30px;
    top: 38%;
    text-align: center;
    padding: 0px 720px;
}

.pcontacto {
    display: block;
    position: absolute;
    color: white;
    font-size: 20px;
    top: 45%;
    text-align:left;
    padding: 0px 400px 0px 400px;
    justify-content: center;
    text-align: center;
}

.mapcontacto{
    position: absolute;
    top: 650px;
    padding: 0px 300px 0px 300px;
}

.tituloaplaza7{
    position: absolute;
    color: #333333;
    font-size: 25px;
    margin: 0px 100px 0px 300px;
    top:980px;
    text-align: right;
    padding: 0px 100px 0px 0px;
}

.pplaza7contacto{
    position: absolute;
    color: #4D4D4D;
    font-size: 20px;
    margin: 0px 0px 0px 300px;
    top:1020px;
    text-align: left;
    padding: 0px 200px 0px 0px;
}

.phora7{
    position: absolute;
    color: #4D4D4D;
    font-size: 20px;
    margin: 0px 0px 0px 300px;
    top:1100px;
    text-align: left;
    padding: 0px 200px 0px 0px;
}

.phora7 strong{
    color: #333333;
}

.titulosocialcontacto{
    position: absolute;
    color: #333333;
    font-size: 60px;
    margin: 0px 100px 10px 300px;
    top:1200px;
    text-align: right;
    padding: 0px 100px 20px 0px;
}

.subtitulosocialcontacto{
    position: absolute;
    color: #333333;
    font-size: 29px;
    margin: 0px 100px 10px 300px;
    top:1270px;
    text-align: right;
    padding: 0px 100px 20px 0px;
}

.socialcontacto{
    position: absolute;
    top: 1310px;
    width: 100%;
    margin: 0px 0px 0px 300px;
}

.socialcontacto img{
    padding: 0px 30px 0px 0px;
}

/*/Estilos para menu hamburguesa/*/

.header {
    padding: 2rem 0;
    background: rgba(239, 239, 239,0.1);
    color: #fff;
    display: flex;
  
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header label{
    position: absolute;
    margin: 80px 0px 0px 1750px;
    font-size: 40px;
    cursor: pointer;
    display: block;  
}


/Estilos para menu/

#btn-menu {
    display: none;

}

/*Estilos para menu*/

#btn-menu {
    display: none;
}

.menu {
    position: absolute;
    top: 220px;
    left: 0;
    width: 25%;
    transform: translateX(400%);
    transition: all 0.3s;
    justify-content: flex-end;
}

.menu ul {
    background: #fff;
    display: block;
    list-style: none;
}

.menu ul ul {
    display: none;
    background: rgba(0,0,0,0.04);
}

.menu ul ul a{
    padding: 15px 50px;
    color: #4D4D4D;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: #AFC80A;
    text-decoration: none;
}

.menu a:hover {
    background: rgba(0,0,0,0.07);
}

.menu a span {
    margin-left: 10px;
    position: absolute;
    right: 5px;
}

.menu ul li:hover ul {
    display: none;
    position: static;
}

#btn-menu:checked ~ .menu {
    transform: translateX(300%);
}

.main {
    padding-top: 10rem;
}


/*Estilos para sección nuestra gente*/

.contenedor-ng{
    position: relative;
    display: flex;
    margin: auto;
    align-items:center;
    justify-content: space-between;
}

.contenedor-ng p{
    display: block;
    justify-content: center;
    text-align: left;
    padding: 0;
    font-size: 1.2em;
}

.contenedor-ng h4{
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    background-color: #AFC80A;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    text-align: center;  
}

.contenedor-ng h4:hover {
    background-color: #2C5A2F;
}

/*Estilos sección productos home*/

.tp-home h1{
    position: relative;
    padding: 0;
    border: 0;
}

.tp-home h4{
    position: relative;
    padding: 10px 20px;
    max-width:10%;
    margin: 10px;
    background-color: #AFC80A;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.tp-home h4:hover {
    background-color: #2C5A2F;
}


/*Estilos para sección distribuidores*/

.nd-home{
    display: flex;
}

.nd-home img{
    position: absolute;
    margin: 0px 300px;
    border: 0;
    padding: 0px 0px;
    width: 1250px;
}

.td-home{
    display: block;
    position: relative;
    margin: 70px 0px 0px 0px;
    padding: 110px 100px;
    width: 950px 300px;
    background-color: #000;
    color: white;
}

.td-home h1{
    display: flex;
    position: relative;
    margin: 30px 0px 50px 0px;
    width: 500px;
    font-size: 90px;
}

.td-home p{
    position: relative;
    padding: 0;
    margin: 30px 100px 80px 0;
    width: 500px;
    font-size: 22px;
}

.td-home h4{
    box-sizing: border-box;
    position: relative;
    right: 0;
    padding: 10px;
    margin: 10px;
    background-color: #AFC80A;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

.td-home h4:hover {
    background-color: #2C5A2F;
}

/*Estilos para Responsabilidad y sostenibilidad home*/

.respon-home{
    position: relative;
    padding: 0;
    background-color: aqua;
}

.respon-home img{
    ;
    border-radius: 50px; 
}





/*Estilos pagina productos*/
/*Estilos para carrusel*/

body{
    height: 100vh;
    width: 100%;
    align-items: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
}

h4, h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Carousel1{
    position: absolute;
    top: 2050px;
    width: 100%;
    margin: 0;
}
.Carousel h2{
    padding: 30px;
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 350px;
    padding: 0px 0px;
    margin: 10px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 230px;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 25px;
    color: #fff;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 14px 0px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .75;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 15px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

.caja-texto-productos{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: ;
}


.caja-texto-productos h3{
    font-size: 2.5em;
    
}

.caja-texto-productos p{
    font-size: 1.5em;
    
}

/*estilos responsive movil iphone6*/

@media (max-width:768px){
    
    .menu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 50%;
    transform: translateX(200%);
    transition: all 0.3s;
    justify-content: flex-end;
}

.menu ul {
    background: #fff;
    display: block;
    list-style: none;
}

.menu ul ul {
    display: none;
    background: rgba(0,0,0,0.04);
}

.menu ul ul a{
    padding: 15px 50px;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: #AFC80A;
    text-decoration: none;
}

.menu a:hover {
    background: rgba(0,0,0,0.07);
}

.menu a span {
    margin-left: 10px;
    position: absolute;
    right: 5px;
}

.menu ul li:hover ul {
    display: none;
    position: static;
}

#btn-menu:checked ~ .menu {
    transform: translateX(100%);
}




/*Estilos para footer responsive*/

@media (max-width:768px){
    footer-right > *{
        flex: 1;
    }
    footer-left{
        flex: 1 0px;
    }
    footer-right{
        flex: 2 0px;
    }
}


}

.video-plaza{
    width: 50%;
}
 
.caja-video{
    width: 50%;
    
}

.caja-video video{
    width: 200%;
    margin: 610px 0
}

.bmenu ul{
    list-style-type: none; 
  
}


.bmenu ul li a{
    text-decoration: none; 
    color: black; 
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 282%;
    padding: 0 872px;
    }
    

.bmenu-ipes ul{
    list-style-type: none;
}
 
.bmenu-ipes ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 288.5%;
    padding: 0 872px;
    
    
}

.bmenu-insc ul{
    list-style-type: none;
}
 
.bmenu-insc ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 294.5%;
    padding: 0 872px;
    
    
}

/*Estilos para footerhome*/

.footer{
    position: absolute;
    top: 5900px;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #AFC80A;
    background-color: #F0F0F0;
}

.footercultura{
    position: absolute;
    top: 1450px;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #AFC80A;
    background-color: #F0F0F0;
}

.footercontacto{
    position: absolute;
    top: 1400px;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #AFC80A;
    background-color: #F0F0F0;
}

.footerverduras{
    position: absolute;
    top: 2000px;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #AFC80A;
    background-color: #F0F0F0;
}

.footerlacteos{
    position: absolute;
    top: 2000px;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #AFC80A;
    background-color: #F0F0F0;
}

.footercongelados{
    position: absolute;
    top: 2000px;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #AFC80A;
    background-color: #F0F0F0;
}

.footerfrutas{
    position: absolute;
    top: 2000px;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #AFC80A;
    background-color: #F0F0F0;
}

.footerhierbas{
    position: absolute;
    top: 2000px;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #AFC80A;
    background-color: #F0F0F0;
}

.footer > *{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.footercultura > *{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.footercontacto > *{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.footerverduras > *{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.footerlacteos > *{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.footercongelados > *{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.footerfrutas > *{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.footerhierbas > *{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.footer-left{
    display: inline-block;
    width: 25%;
}

.footer ul li h2{
    width: 10;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 20px;
}

.footercultura ul li h2{
    width: 10;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 20px;
}

.footercontacto ul li h2{
    width: 10;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 20px;
}

.footerverduras ul li h2{
    width: 10;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 20px;
}

.footerlacteos ul li h2{
    width: 10;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 20px;
}

.footercongelados ul li h2{
    width: 10;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 20px;
}

.footerfrutas ul li h2{
    width: 10;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 20px;
}

.footerhierbas ul li h2{
    width: 10;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 20px;
}

.footer ul{
    flex-direction:row-reverse;
    list-style: none;
    padding: 10px 20px;
}

.footercultura ul{
    flex-direction:row-reverse;
    list-style: none;
    padding: 10px 20px;
}

.footercontacto ul{
    flex-direction:row-reverse;
    list-style: none;
    padding: 10px 20px;
}

.footerverduras ul{
    flex-direction:row-reverse;
    list-style: none;
    padding: 10px 20px;
}

.footerlacteos ul{
    flex-direction:row-reverse;
    list-style: none;
    padding: 10px 20px;
}

.footercongelados ul{
    flex-direction:row-reverse;
    list-style: none;
    padding: 10px 20px;
}


.footerfrutas ul{
    flex-direction:row-reverse;
    list-style: none;
    padding: 10px 20px;
}

.footerhierbas ul{
    flex-direction:row-reverse;
    list-style: none;
    padding: 10px 20px;
}

.box li a{
    color: #4D4D4D;    
}

.footer li{
    line-height: 1.5em;
}

.footercultura li{
    line-height: 1.5em;
}

.footercontacto li{
    line-height: 1.5em;
}

.footerverduras li{
    line-height: 1.5em;
}

.footerlacteos li{
    line-height: 1.5em;
}

.footercongelados li{
    line-height: 1.5em;
}

.footerfrutas li{
    line-height: 1.5em;
}

.footerhierbas li{
    line-height: 1.5em;
}

.footer a{
    text-decoration: none;
}

.footercultura a{
    text-decoration: none;
}

.footercontacto a{
    text-decoration: none;
}

.footerverduras a{
    text-decoration: none;
}

.footerlacteos a{
    text-decoration: none;
}

.footercongelados a{
    text-decoration: none;
}

.footerfrutas a{
    text-decoration: none;
}

.footerhierbas a{
    text-decoration: none;
}

.box a{
    color: #999;
}

.footer-bottom{
    display:flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 10px;
    background: #2C5A2F;
}
    
    